# Ignore Play! working directory #
/lib/
/logs/
/modules
/project/project
/project/.bloop/*
/project/target
/target
tmp/
test-result
server.pid
*.iml
/dist/
.cache
.bloop
.idea
.vscode
.env
.metals
.bsp